/*caixa do cubo*/
* {
    box-sizing: border-box;
}
/* página*/
body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(135deg,#0f172a, #312e81);
}

main{
   text-align: center;
}
.cenario{
    width: 350px;
    height: 350px;
    margin: 20px auto;
    display: grid;
    place-items: center;
    perspective: 800px;
}
.cubo{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: rodarCubo 8s linear infinite;
}
.face{
    position: absolute;
    width: 150px;
    height: 150px; 
    display: grid;
    place-items: center;
    border: 2px solid rgba(255, 255, 255, 0.9);
    font-size: 42px;
    font-weight: bold;
    background: rgba(56, 189, 248, 0.72);
    backface-visibility: visible;
}
.frente{
    transform: translateZ(75px);
    background:  rgba(56, 189, 248, 0.75);
}
.traseira{
    transform: rotateY(180deg) translateZ(75px);
    background:  rgba(244, 114, 182, 0.75);
}
.direita{
    transform: rotateY(90deg) translateZ(75px);
    background:  rgba(74, 222, 128, 0.75);
}
.esquerda{
    transform: rotateY(-90deg) translateZ(75px);
    background:  rgba(250, 204, 21, 0.75);
}
.cima{
    transform: rotateX(90deg) translateZ(75px);
    background:  rgba(192, 132, 252, 0.75);
}
.baixo{
    transform: rotateX(-90deg) translateZ(75px);
    background:  rgba(251, 113, 133, 0.75);
}
@keyframes rodarCubo{
    from{ transform: rotateX(-20deg) rotateY(0deg);}
    to{ transform: rotateX(-20deg) rotateY(360deg);}
}
.controlo{
    max-width: 620px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.botoes{
    padding: 10px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
}
.botoes:hover{
    transform: scale(1.05);
}