/*caixa do cubo*/

*{
   box-sizing: border-box;
}
/* pagina */
body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(135deg, #0f172a, #312e81)
}

main{
    text-align: center;
}
.cenario{
    width: 350px;
    height: 350px;
    margin:20px auto;
    display: grid;
    place-items: center;
    perspective: 1000px;
   
}

.cubo{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: rodarCubo 10s linear infinite;
}
.face{
    position: absolute;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    border: 2px solid rgba(255, 255, 255, 0.9);
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(55, 185, 255, 0.75);
    backface-visibility: visible;
}
 
.frente{
    transform: translateZ(75px);
    background-color: rgba(55, 185, 255, 0.78);
}
.traseira{
    transform: rotateY(180deg) translateZ(75px);
    background-color: rgba(245, 184, 255, 0.78);
}
.direita{
    transform: rotateY(90deg) translateZ(75px);
    background-color: rgba(88, 220, 187, 0.78);
}
.esquerda{
    transform: rotateY(-90deg) translateZ(75px);
    background-color: rgba(255, 185, 55, 0.78);
}
.cima{
    transform: rotateX(90deg) translateZ(75px);
    background-color: rgba(228, 107, 107, 0.78);
}
.baixo{
    transform: rotateX(-90deg) translateZ(75px);
    background-color: rgba(187, 255, 88, 0.78);
}
@keyframes rodarCubo{
    from{
        transform: rotateX(-20deg) rotateY(0deg);}
        to{
            transform: rotateX(-20deg) rotateY(360deg);}
    }


    .controlo{
    max-width: 620px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.botoes{
    padding: 10px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
}
.botoes:hover{
    transform: scale(1.05);
}